@font-face {
    font-family: 'PT Serif';
    src: url('fonts/ptserif-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Robotoregular';
    src: url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
